@font-face {
  font-family: "iconfont"; /* Project id 2266015 */
  src: url('iconfont.woff2?t=1620355896130') format('woff2'),
       url('iconfont.woff?t=1620355896130') format('woff'),
       url('iconfont.ttf?t=1620355896130') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-extradouyin:before {
  content: "\e8db";
}

.icon-extralog-out:before {
  content: "\e70f";
}

.icon-extra-yanse-fanqiehong:before {
  content: "\e6ab";
}

